body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F6F6F6;
}

header {
  color: #fff;
  background-color: #103D5D;
  padding: 33px 0 25px 15px;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;

}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

.table {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 30px;
}

.row {
  width: 100%;
  padding-left: 30px;
  display: flex;
  font-weight: 300;
  background-color: #fff;
  color: #000;
  margin-bottom: 5px;
  align-items: center;
  text-align: center;
  max-height: 100px;
}

.entry {
  margin: 15px 30px;
  flex: 1;
}

.highlight {
  display: inline-block;
  border-radius: 10px;
  padding: 10px 20px;
}

.yellow {
  background-color: #FDECB2;
}

.blue {
  background-color: #E1EFFF;
}

.green {
  background-color: #D6FCC9;
}

.red {
  background-color: #FFC8C8;
}

.columns {
  background-color: #EAEAEA;
  font-weight: 900;
}

.applicant {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.headshot {
  height: 100%;
  width: 100%;
  max-height: 100px;
  max-width: 100px;
  margin: 0px 20px;
}
