body {
  font-family: 'Lato', sans-serif;
  background-color: #F6F6F6;
}

header {
  color: #fff;
  background-color: #103D5D;
  padding: 33px 0 25px 15px;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;

}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

.table {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 30px;
}

.row {
  width: 100%;
  padding-left: 30px;
  display: flex;
  font-weight: 300;
  background-color: #fff;
  color: #000;
  margin-bottom: 5px;
  align-items: center;
  text-align: center;
  max-height: 100px;
}

.starred {
  background-color: #FFFCF4;
}

.entry {
  margin: 15px 30px;
  flex: 1;
  position: relative;
}

.highlight {
  display: inline-block;
  border-radius: 10px;
  padding: 10px 20px;
}

.yellow {
  background-color: #FDECB2;
}

.blue {
  background-color: #E1EFFF;
}

.green {
  background-color: #D6FCC9;
}

.red {
  background-color: #FFC8C8;
}

.columns {
  background-color: #EAEAEA;
  font-size: 18px;
  font-weight: bold;
}

.bolded {
  font-weight: bolder;
}

.relContainer {
  display: inline;
  position: relative;
}

.arrow {
  position: absolute;
  height: 10px;
  top: 7px;
  right: -25px;
}

.hider {
  color: #C4C4C4;
  height: 100px;
  cursor: pointer;
  opacity: 0.8;
}

.hideContainer {
  margin: auto 60px;
  font-size: 20px;
}

.hideLine {
  background-color: #C4C4C4;
  position: relative;
  top: 1px;
  height: 3px;
  width: 72%;
  margin-right: 35px;
}

.showContainer {
  text-decoration: underline;
}

.hider:hover {
  opacity: 1;
}

.hider:hover .hideContainer,  .hider:hover .showContainer {
  color: #000;
}

.hider:hover .hideLine {
  background-color: #000;
}

.active, .active .hideContainer, .active  .showContainer {
  opacity: 1;
  color: #000;
}

.active .hideLine {
  background-color: #000;
}

.applicant {
  display: flex;
  flex-direction: row;
  margin: 0px 30px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.head_container {
  position: relative;
}

.headshot {
  height: 100px;
  width: 100px;
  margin: 0px 20px;
  object-fit: cover;
}

.actions_container {
  left: -38px;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.eye {
  width: 35px;
  cursor: pointer;
}

.eye:hover {
  opacity: 0.6;
}

.star {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.star:hover {
  opacity: 0.6;
}

.point {
  cursor: pointer;
}
