body {
  font-family: 'Lato', sans-serif;
  background-color: #F6F6F6;
}

header {
  color: #fff;
  background-color: #103D5D;
  padding: 33px 0 25px 15px;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;

}

header i {
  vertical-align: middle;
  margin-left: 12px;
}
