body {
  font-family: 'Lato', sans-serif;
  background-color: #F6F6F6;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}

.leftCol {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  width: 25%;
  margin: 40px 6%;
  align-items: flex-start;
}

.rightCol {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  margin-top: 45px;
  width: 58%;
}

.name {
  font-weight: 900;
  font-size: 30px;
}

.shot {
  width: 100%;
  margin: 20px 0px;
  margin-bottom: 30px;
}

.headPic {
  width: 100%;
}

.statusContainer {
  font-size: 20px;
  background-color: white;
  font-weight: bold;
  padding: 8px 25px;
  margin: 20px 0px;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  cursor: pointer;
}

.statusContainer:hover {
  opacity: 0.7;
}

.detail {
  margin: 2px 0px;
  font-size: 18px;
}

.resume {
  margin: 20px 0px;
  text-decoration: underline;
  font-size: 18px;
}

.resume:hover {
  opacity: 0.7;
}

.bolded {
  font-weight: bold;
}

.bigger {
  font-size: 18px;
}
.questions {
  margin-top: 40px;
}
.title {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  margin: 10px auto;
  padding: 12px 0px;
  width: calc(100%);
  background-color: #E0E0E0;
  align-items: center;
}

.score {
  margin: auto 20px;
  border-radius: 10px;
  padding: 5px 12px;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filler {
  width: 15px;
}

.number {
  font-size: 22px;
  margin-bottom: -4px;
}

.five {
  background-color: #9C71F9;
}

.four {
  background-color: #B897FF;
}

.three {
  background-color: #CAB2FF;
}

.two {
  background-color: #D6C4FF;
}

.one {
  background-color: #E6DBFF;
}

.subquestion {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.content {
   background-color: white;
   padding: 12px 18px;
   width: calc(100%-12px);
   line-height: 1.4;
}

.subscore {
  margin: auto 20px;
  border-radius: 10px;
  padding: 3px 9px;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subnumber {
  font-size: 19px;
  margin-bottom: -4px;
}

.subfive {
  background-color: rgba(89,175,255,1);
}

.subfour {
  background-color: rgba(89,175,255,0.7);
}

.subthree {
  background-color: rgba(89,175,255,0.5);
}

.subtwo {
  background-color: rgba(89,175,255,0.3);
}

.subone {
  background-color: rgba(89,175,255,0.1);
}

.interviewers {
  margin-top: 30px;
}
