body {
  font-family: 'Lato', sans-serif;
  background-color: #F6F6F6;
}

.leftCol {
  display: inline-flex;
  flex-direction: column;
  min-width: 400px;
  width: 25%;
  margin: 40px 6%;
  align-items: flex-start;
}

.rightCol {
  display: inline-flex;
  flex-direction: column;
  min-width: 700px;
  margin-top: 40px;
  width: 58%;
}

.name {
  font-weight: 900;
  font-size: 30px;
}

.shot {
  width: 100%;
  margin: 40px 0px;
}

.headPic {
  width: 100%;
}

.detail {
  margin: 2px 0px;
}

.bolded {
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  margin: 10px auto;
  padding: 15px 0px;
  padding-right: 0px;
  width: calc(100%);
  background-color: #E0E0E0;
  align-items: center;
}

.score {
  margin: auto 20px;
  border-radius: 10px;
  padding: 5px 12px;
  background-color: #9C71F9;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 22px;
  margin-bottom: -4px;
}
